#root {
  max-width:  1280px;
  margin:     0 auto;
  padding:    2rem;
  text-align: center;
}

input::file-selector-button {
  border:           none;
  border-radius:    .5em;
  padding:          1em;
  background-color: #999;
}

input {
  background-color: #999;
  color:            #eee;
  border-radius:    .5em;
}

input::file-selector-button:hover {
  background-color: #555;
  cursor:           pointer;
}

ul {
  display:               grid;
  grid-template-columns: auto auto;
  grid-gap:              1em;
  padding:               1em;
}

video, li {
  height:           20em;
  border-radius:    .5em;
  list-style:       none;
  position:         relative;
  z-index:          1;
  background-color: #999;
}

li:before, li:after {
  z-index:          2;
  content:          "";
  background-color: red;
  position:         absolute;
  right:            2em;
  top:              1em;
  height:           2em;
  width:            .375em;
  border-radius:    .5em;
  opacity:          0;
  transition:       opacity .3s;
}

li:after {
  transform: rotate(45deg)
}

li:before {
  transform: rotate(-45deg)
}

li:hover:before, li:hover:after {
  opacity: 1;
  cursor:  pointer;
}
