#root {
  max-width:  1280px;
  margin:     0 auto;
  padding:    2rem;
  text-align: center;
}

ul {
  display:               grid;
  grid-template-columns: auto auto;
  grid-gap:              1em;
  padding:               1em;
}

video, li {
  height:        20em;
  border-radius: 1em;
  list-style:    none;
}

li:after {
  content:    "[delete]";
  position:   relative;
  display:    block;
  right:      0;
  left:       0;
}

li:hover:after {
  cursor:          pointer;
  text-decoration: underline;
}
